.footer {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
    border-top: 2px solid #ddd;
    margin-top: 20px;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .footer-info {
    margin-bottom: 10px;
    color: #333;
  }
  
  .footer-info p {
    margin: 5px 0;
  }
  
  .footer-copy {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .footer-logo {
    width: 100px; 
    height: auto;
    margin-bottom: 12px;
    
  }
  
  .footer-copy p {
    color: #777;
    font-size: 0.9rem;
  }